<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7363dc81-8b26-4bde-beff-439558b971ab" Alias="Andrews Magic Property" Level="1">
  <Info>
    <Name>Andrews Magic Property</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e44f8b96-5f50-482f-87d2-7634f3747bf4"
    },
    {
      "contentElementTypeKey": "68bd7a0d-2768-4567-8ecc-57b0c0e348d6"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "validationLimit": {}
}]]></Config>
</DataType>