<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b3e9d09-eb7d-4a42-9e6a-6c330ef3b016" Alias="[BlockList] Social Media Accounts" Level="1">
  <Info>
    <Name>[BlockList] Social Media Accounts</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d33e0fe6-5dfd-4081-949a-8ecf551240b5",
      "forceHideContentEditorInOverlay": true
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>