<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95108a1f-b41e-4e75-b718-4fab9c29840d" Alias="Blog Article Picker" Level="1">
  <Info>
    <Name>Blog Article Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "6416b59b-ed3c-42c0-af8b-12f888fac97b",
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root",
      "querySteps": [
        {
          "unique": "236f5e39-dc18-49e6-b573-6be1ee56ffd6",
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "a7128c16-fca3-49cb-95e4-3b09c484167f"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>