<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe0c5d77-563f-4671-a61d-7352e008c56d" Alias="Logo Picker" Level="1">
  <Info>
    <Name>Logo Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c,cc07b313-0843-4aa8-bbda-871c8da728c8",
  "multiple": false,
  "startNodeId": "4ab788cb-3396-42d7-a55c-855e94c475c8"
}]]></Config>
</DataType>