<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f102ae2-3b0d-4b58-8855-f97ecc1f17d4" Alias="Multi URL Picker [Max 3]" Level="1">
  <Info>
    <Name>Multi URL Picker [Max 3]</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 3,
  "minNumber": 0
}]]></Config>
</DataType>