<?xml version="1.0" encoding="utf-8"?>
<DataType Key="548847ed-9e9d-43cf-94da-a99525b5c4d6" Alias="Service Icon Picker" Level="1">
  <Info>
    <Name>Service Icon Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>