<?xml version="1.0" encoding="utf-8"?>
<DataType Key="847fda97-3f39-4f08-89a3-e2c50dc6c978" Alias="[Single Block] Page Header" Level="1">
  <Info>
    <Name>[Single Block] Page Header</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6c59851b-f1a3-49cd-9bff-43065fb6a07f"
    },
    {
      "contentElementTypeKey": "88cc7ae1-489c-480a-89b0-d0584af2a1f5"
    }
  ]
}]]></Config>
</DataType>