<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0ac48e5-944f-4813-9243-b6db920b32aa" Alias="[Single Block] Social media accounts" Level="1">
  <Info>
    <Name>[Single Block] Social media accounts</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7dffc921-e9d9-4f05-9c3d-03ca759bdb88"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>