<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e905d898-e4d3-48aa-ad16-7afbb6e9e9df" Alias="[SingleBlock] Logo Cloud" Level="1">
  <Info>
    <Name>[SingleBlock] Logo Cloud</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "68bd7a0d-2768-4567-8ecc-57b0c0e348d6"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>