<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9aca248e-e5fc-490b-8d89-45abed2f7c37" Alias="Tag Picker" Level="1">
  <Info>
    <Name>Tag Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "28b5520b-dc3f-47b6-b824-e2d1ac4b5628",
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root",
      "querySteps": [
        {
          "unique": "6d421f5a-e574-4f3f-94ce-008d1d7f5e47",
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "6d421f5a-e574-4f3f-94ce-008d1d7f5e47"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>