<?xml version="1.0" encoding="utf-8"?>
<Content Key="253f9a01-79f3-428c-bc0c-010b87e66e99" Alias=".NET" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/NET</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:08:11</CreateDate>
    <NodeName Default=".NET" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about .NET — Microsoft's cross-platform framework for building web, desktop, and cloud applications.]]></Value>
    </description>
  </Properties>
</Content>