<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2899cc8-51ff-47b3-a813-ffc6e6de5314" Alias="Accessibility" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/Accessibility</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:49</CreateDate>
    <NodeName Default="Accessibility" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about web accessibility and inclusive design.]]></Value>
    </description>
  </Properties>
</Content>