<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a90f330-e5aa-4d5d-a4ca-8d7814654bfe" Alias="AI" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/AI</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:49</CreateDate>
    <NodeName Default="AI" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about artificial intelligence and machine learning.]]></Value>
    </description>
  </Properties>
</Content>