<?xml version="1.0" encoding="utf-8"?>
<Content Key="cafb3d11-fee1-4871-b494-b9720335b985" Alias="Analytics" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/Analytics</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:49</CreateDate>
    <NodeName Default="Analytics" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about web analytics and data insights.]]></Value>
    </description>
  </Properties>
</Content>