<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0d42bc0-0fa5-4e6f-af77-a35b9a2954fc" Alias="Bespoke Software" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/BespokeSoftware</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:49</CreateDate>
    <NodeName Default="Bespoke Software" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about custom and bespoke software development.]]></Value>
    </description>
  </Properties>
</Content>