<?xml version="1.0" encoding="utf-8"?>
<Content Key="16d96ccb-cfb8-4e93-8064-dc557e903250" Alias="Compliance" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/Compliance</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:49</CreateDate>
    <NodeName Default="Compliance" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about regulatory compliance, GDPR and data protection.]]></Value>
    </description>
  </Properties>
</Content>