<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed1471d1-179c-4c9a-9f05-f9c156809e06" Alias="Content Management" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/ContentManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:49</CreateDate>
    <NodeName Default="Content Management" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about content management systems and strategy.]]></Value>
    </description>
  </Properties>
</Content>