<?xml version="1.0" encoding="utf-8"?>
<Content Key="7168be2c-4978-45d1-a566-1d7b805d0c91" Alias="Cookie Management" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/CookieManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:50</CreateDate>
    <NodeName Default="Cookie Management" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about cookie consent and cookie management solutions.]]></Value>
    </description>
  </Properties>
</Content>