<?xml version="1.0" encoding="utf-8"?>
<Content Key="02e19e42-67ef-4550-9d0b-cfdb0160821e" Alias="Development" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/Development</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:50</CreateDate>
    <NodeName Default="Development" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about web and software development techniques.]]></Value>
    </description>
  </Properties>
</Content>