<?xml version="1.0" encoding="utf-8"?>
<Content Key="b05806a1-d31a-4fe7-a078-3edbb2984d9c" Alias="Environmental Impact" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/EnvironmentalImpact</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:51</CreateDate>
    <NodeName Default="Environmental Impact" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about the environmental impact of technology and sustainability.]]></Value>
    </description>
  </Properties>
</Content>