<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bd86b74-8ab4-4972-991a-adfdc9863417" Alias="Headless CMS" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/HeadlessCMS</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:08:11</CreateDate>
    <NodeName Default="Headless CMS" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about headless CMS architecture — decoupled content management delivering content via APIs.]]></Value>
    </description>
  </Properties>
</Content>