<?xml version="1.0" encoding="utf-8"?>
<Content Key="133f3b99-ff50-483c-a83f-b09618d97391" Alias="Optimizely" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/Optimizely</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:53</CreateDate>
    <NodeName Default="Optimizely" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about Optimizely digital experience platform.]]></Value>
    </description>
  </Properties>
</Content>