<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb5f94ea-8bcd-4413-a569-abafb4333011" Alias="Project Management" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/ProjectManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:54</CreateDate>
    <NodeName Default="Project Management" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about project management methodologies and tools.]]></Value>
    </description>
  </Properties>
</Content>