<?xml version="1.0" encoding="utf-8"?>
<Content Key="2291eb16-513e-489f-a6cf-3ec452f16184" Alias="Public Sector" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/PublicSector</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:54</CreateDate>
    <NodeName Default="Public Sector" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about technology in the public sector and government.]]></Value>
    </description>
  </Properties>
</Content>