<?xml version="1.0" encoding="utf-8"?>
<Content Key="04067639-4493-422b-a010-a3ee8342c370" Alias="Security" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/Security</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:55</CreateDate>
    <NodeName Default="Security" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about web security, vulnerabilities and best practices.]]></Value>
    </description>
  </Properties>
</Content>