<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea9333d1-9f4e-41ab-9cc1-5914fcf4dccc" Alias="SEO" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/SEO</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:56</CreateDate>
    <NodeName Default="SEO" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about search engine optimisation and organic search.]]></Value>
    </description>
  </Properties>
</Content>