<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7828090-6468-40ff-a4cc-f54467ecc729" Alias="Sitecore" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/Sitecore</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:57</CreateDate>
    <NodeName Default="Sitecore" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about Sitecore digital experience platform.]]></Value>
    </description>
  </Properties>
</Content>