<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ee2cd30-11ee-4140-a737-b67d99646573" Alias="Support" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/Support</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:58:58</CreateDate>
    <NodeName Default="Support" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about support services and technical assistance.]]></Value>
    </description>
  </Properties>
</Content>