<?xml version="1.0" encoding="utf-8"?>
<Content Key="0aad4ade-715a-4e56-a670-c08561c57e89" Alias="Umbraco" Level="3">
  <Info>
    <Parent Key="077421ac-6255-4088-b23e-c4dd3eee1398">Blog Tags</Parent>
    <Path>/Settings/BlogTags/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-04-27T12:08:11</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Articles about Umbraco CMS — the flexible, open source .NET content management system.]]></Value>
    </description>
  </Properties>
</Content>