<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dd944ee-898d-4509-bcc0-35a092534c4d" Alias="idpdScYQ0d_1777015783479.svg" Level="2">
  <Info>
    <Parent Key="4ab788cb-3396-42d7-a55c-855e94c475c8">Company Logos</Parent>
    <Path>/CompanyLogos/idpdScYQ0d_1777015783479svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-04-24T07:34:02</CreateDate>
    <NodeName Default="idpdScYQ0d_1777015783479.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dt2hxl2w/idpdscyq0d_1777015783479.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>