<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ee483f6-faef-4867-8168-15708b6a2b9a" Alias="idT8Rjxh8w_1777015802304.svg" Level="2">
  <Info>
    <Parent Key="4ab788cb-3396-42d7-a55c-855e94c475c8">Company Logos</Parent>
    <Path>/CompanyLogos/idT8Rjxh8w_1777015802304svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-04-24T07:33:58</CreateDate>
    <NodeName Default="idT8Rjxh8w_1777015802304.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aq5en1hu/idt8rjxh8w_1777015802304.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>