<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbdaaa86-4ba9-4a49-93f1-2888878a4ce2" Alias="isoqar-ukas-iso-27001.webp" Level="2">
  <Info>
    <Parent Key="4ab788cb-3396-42d7-a55c-855e94c475c8">Company Logos</Parent>
    <Path>/CompanyLogos/isoqarUkasIso27001webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-24T12:17:00</CreateDate>
    <NodeName Default="isoqar-ukas-iso-27001.webp" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bfqjy1oa/isoqar-ukas-iso-27001.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>