<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b2dc3a9-6b92-4c30-ab60-00d2eebce4b3" Alias="LinkedIn_Symbol_0.svg" Level="2">
  <Info>
    <Parent Key="4ab788cb-3396-42d7-a55c-855e94c475c8">Company Logos</Parent>
    <Path>/CompanyLogos/LinkedIn_Symbol_0svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-04-24T12:25:38</CreateDate>
    <NodeName Default="LinkedIn_Symbol_0.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ln5i5smj/linkedin-svgrepo-com.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>