<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a8105e8-5000-403e-9ede-ad720150d3ca" Alias="Microsoft_.NET_logo.svg" Level="2">
  <Info>
    <Parent Key="4ab788cb-3396-42d7-a55c-855e94c475c8">Company Logos</Parent>
    <Path>/CompanyLogos/Microsoft_NET_logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-04-24T07:33:36</CreateDate>
    <NodeName Default="Microsoft_.NET_logo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dk2ch0a1/microsoft_net_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>