<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1063621-e6c5-41e3-b943-135837afba8a" Alias="Microsoft_Azure_Portal_id3I3zPTEl_0.svg" Level="2">
  <Info>
    <Parent Key="4ab788cb-3396-42d7-a55c-855e94c475c8">Company Logos</Parent>
    <Path>/CompanyLogos/Microsoft_Azure_Portal_id3I3zPTEl_0svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-04-24T07:33:54</CreateDate>
    <NodeName Default="Microsoft_Azure_Portal_id3I3zPTEl_0.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ofliu44/microsoft_azure_portal_id3i3zptel_0.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>