<?xml version="1.0" encoding="utf-8"?>
<Media Key="07718aac-6aaa-4f89-9b2f-aaf982cbd1fe" Alias="umbraco_logo_blue.svg" Level="2">
  <Info>
    <Parent Key="4ab788cb-3396-42d7-a55c-855e94c475c8">Company Logos</Parent>
    <Path>/CompanyLogos/umbraco_logo_bluesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-04-24T07:34:15</CreateDate>
    <NodeName Default="umbraco_logo_blue.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ly1nhznr/umbraco-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>