<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d66e78e-3240-44c0-b3ae-8209c50dc277" Alias="cloud-hosting.svg" Level="2">
  <Info>
    <Parent Key="ec8c0ad6-5421-49f2-b1bc-af9642975d15">Service logos</Parent>
    <Path>/ServiceLogos/cloudHostingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-06T16:39:17</CreateDate>
    <NodeName Default="cloud-hosting.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/prnmjp01/cloud-hosting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>