<?xml version="1.0" encoding="utf-8"?>
<Media Key="06b23134-11e9-446a-993e-02f3f34b80d4" Alias="digital-strategy.svg" Level="2">
  <Info>
    <Parent Key="ec8c0ad6-5421-49f2-b1bc-af9642975d15">Service logos</Parent>
    <Path>/ServiceLogos/digitalStrategysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-06T16:39:17</CreateDate>
    <NodeName Default="digital-strategy.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y0gbbzhs/digital-strategy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>