<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4faa90a-9379-4b34-a067-10f1452ff0f1" Alias="integration-automation.svg" Level="2">
  <Info>
    <Parent Key="ec8c0ad6-5421-49f2-b1bc-af9642975d15">Service logos</Parent>
    <Path>/ServiceLogos/integrationAutomationsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-06T16:39:17</CreateDate>
    <NodeName Default="integration-automation.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5akfqrtc/integration-automation.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>