<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe27c259-3c13-4d53-a74a-7a8490d76874" Alias="seo-analytics.svg" Level="2">
  <Info>
    <Parent Key="ec8c0ad6-5421-49f2-b1bc-af9642975d15">Service logos</Parent>
    <Path>/ServiceLogos/seoAnalyticssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-06T16:39:17</CreateDate>
    <NodeName Default="seo-analytics.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vn5jkhai/seo-analytics.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>