<?xml version="1.0" encoding="utf-8"?>
<Media Key="50e85227-4f6c-40d8-b6fb-1ea35552b815" Alias="support-maintenance.svg" Level="2">
  <Info>
    <Parent Key="ec8c0ad6-5421-49f2-b1bc-af9642975d15">Service logos</Parent>
    <Path>/ServiceLogos/supportMaintenancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-06T16:39:17</CreateDate>
    <NodeName Default="support-maintenance.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0xxfvmtx/support-maintenance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>