<?xml version="1.0" encoding="utf-8"?>
<Media Key="1dcb38c2-d27b-402b-b9b0-e55b44be76bd" Alias="website-health-checks.svg" Level="2">
  <Info>
    <Parent Key="ec8c0ad6-5421-49f2-b1bc-af9642975d15">Service logos</Parent>
    <Path>/ServiceLogos/websiteHealthCheckssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-06T16:39:17</CreateDate>
    <NodeName Default="website-health-checks.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gccht51a/website-health-checks.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>