<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bb0ecbc-ffed-4a64-a543-ef4a1b2ebe8b" Alias="website-development.svg" Level="2">
  <Info>
    <Parent Key="ec8c0ad6-5421-49f2-b1bc-af9642975d15">Service logos</Parent>
    <Path>/ServiceLogos/websiteDevelopmentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-06T16:39:17</CreateDate>
    <NodeName Default="website-development.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jzibfgpw/website-development.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>