<?xml version="1.0" encoding="utf-8"?>
<Content Key="077421ac-6255-4088-b23e-c4dd3eee1398" Alias="Blog Tags" Level="2">
  <Info>
    <Parent Key="d2f7c1a9-dfcf-470c-8571-614eb8f03971">Settings</Parent>
    <Path>/Settings/BlogTags</Path>
    <Trashed>false</Trashed>
    <ContentType>blogTags</ContentType>
    <CreateDate>2026-04-27T12:07:56</CreateDate>
    <NodeName Default="Blog Tags" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>