<?xml version="1.0" encoding="utf-8"?>
<Content Key="198129fa-bd18-40ac-b0f2-a437f5de445e" Alias="Header Settings" Level="2">
  <Info>
    <Parent Key="d2f7c1a9-dfcf-470c-8571-614eb8f03971">Settings</Parent>
    <Path>/Settings/HeaderSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2026-02-26T21:39:18</CreateDate>
    <NodeName Default="Header Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d7cc3309-1b51-4f5f-8f03-abc873c9bdc0",
      "key": "4677acd5-af19-43e7-ae30-66bdd9880fec",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1e62d094-910b-443d-827a-22fde86dc0c4",
                "key": "9f09f890-5808-4f3d-852a-d3e83c0851a2",
                "values": [
                  {
                    "editorAlias": "Umbraco.MultiUrlPicker",
                    "culture": null,
                    "segment": null,
                    "alias": "titleLink",
                    "value": [
                      {
                        "name": "About Us",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/901045e75d6c43beb93c102a5e648fb2",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9f09f890-5808-4f3d-852a-d3e83c0851a2",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.SingleBlock": [
                {
                  "contentUdi": null,
                  "settingsUdi": null,
                  "contentKey": "9f09f890-5808-4f3d-852a-d3e83c0851a2",
                  "settingsKey": null
                }
              ]
            }
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Security and compliance",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/739f8a2951ae43b5888842a6e5e175ad",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Sustainability",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/047b12c33f074be499f96671ddae4829",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d7cc3309-1b51-4f5f-8f03-abc873c9bdc0",
      "key": "cbcfc48b-46e9-45e6-b24c-b650d40f986d",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1e62d094-910b-443d-827a-22fde86dc0c4",
                "key": "9dedc19f-38ee-4a2b-aeb5-9d67c5cff850",
                "values": [
                  {
                    "editorAlias": "Umbraco.MultiUrlPicker",
                    "culture": null,
                    "segment": null,
                    "alias": "titleLink",
                    "value": [
                      {
                        "name": "Our Work",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/1f1af6151d6a4dbc97183acc32823b45",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9dedc19f-38ee-4a2b-aeb5-9d67c5cff850",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.SingleBlock": [
                {
                  "contentUdi": null,
                  "settingsUdi": null,
                  "contentKey": "9dedc19f-38ee-4a2b-aeb5-9d67c5cff850",
                  "settingsKey": null
                }
              ]
            }
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "SLH: Sitecore upgrade and infrastructure improvements",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/dc425b2ac7a845adba9eecfa5d676de3",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "RPC: Brand and website refresh",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/2645e356fa944ed99888ee9ed9aee10b",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Rebuilding Odgers Berndtson website with a refreshed design and user experience",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/c124605ced0d47fd81d31dfc781b3248",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "SLH: Transforming a luxury travel brand website to increase conversions by 1.3%",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/586231dadc144c4aa9a2a2ab8ee8c5db",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Improving CLL\u0027s website for in-house lawyers to highlight critical knowledge",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/f04d1b6a66b54e7ca689bcd497b553ed",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Law firms and professional practices",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/5b50d2cf885d474f909f6ccbb0736a0b",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "SLH: Helping deliver a fully featured new mobile app for a luxury travel brand",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/c87b0accfbf247c282a8ce826cc72e8b",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Public sector and government",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/3f182da8a9904fd1a5fa8afc7f895cf3",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d7cc3309-1b51-4f5f-8f03-abc873c9bdc0",
      "key": "e63410b0-7021-4dde-82ff-74cb6a2bb79c",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1e62d094-910b-443d-827a-22fde86dc0c4",
                "key": "f209eab8-0ee3-4019-a67a-4c34e3ebc968",
                "values": [
                  {
                    "editorAlias": "Umbraco.MultiUrlPicker",
                    "culture": null,
                    "segment": null,
                    "alias": "titleLink",
                    "value": [
                      {
                        "name": "Our Technologies",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/8f41ab73dfde44f7a552e3c4154bc8e2",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "f209eab8-0ee3-4019-a67a-4c34e3ebc968",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.SingleBlock": [
                {
                  "contentUdi": null,
                  "settingsUdi": null,
                  "contentKey": "f209eab8-0ee3-4019-a67a-4c34e3ebc968",
                  "settingsKey": null
                }
              ]
            }
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Sitecore",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/f24e93890b4249338142a8288a9803e8",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Umbraco",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/f882e5dc705d4bb086706403796e5818",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Optimizely",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/3da82faaa1a04ba9977152a2ba27eff3",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Azure",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/7b7638d074984e519533cb627951e3b3",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Cookiebot consent platform",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/00f0e0c08ace48e2aa6293cc60714fc0",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Umbraco Engage",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/a5ac3867749044cbbb593bad131b2e0e",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": ".NET bespoke development",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/6c3d29021ec14d33ae19175211e811b1",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Passle",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/09880be7bdd644fcb880b917a34a561e",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d7cc3309-1b51-4f5f-8f03-abc873c9bdc0",
      "key": "47cbc958-3a8b-4596-9280-733fd554073a",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1e62d094-910b-443d-827a-22fde86dc0c4",
                "key": "9e418958-fa97-4533-b03b-321bd6ee9e67",
                "values": [
                  {
                    "editorAlias": "Umbraco.MultiUrlPicker",
                    "culture": null,
                    "segment": null,
                    "alias": "titleLink",
                    "value": [
                      {
                        "name": "Services",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/dd4f33d6e15b4c1688ef64e083259d3e",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9e418958-fa97-4533-b03b-321bd6ee9e67",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.SingleBlock": [
                {
                  "contentUdi": null,
                  "settingsUdi": null,
                  "contentKey": "9e418958-fa97-4533-b03b-321bd6ee9e67",
                  "settingsKey": null
                }
              ]
            }
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Support",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/c87ac19ab72f477e8b54f842841bcca7",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Website Builds",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/876ceadc53764ab484387d4bf77623bb",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Managed Hosting",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/2502dbf7af6e45f28dc20083c612ce1e",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Upgrades",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/62b269716bba4fe59ae59df77e2cbcde",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Business Applications",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/bce580bce9684346b186c28d99288a49",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Health Checks",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/a7a780f3a1ed4884b5bc0d1297243c51",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "CMS / DXP builds",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/3c9738dd5dcc4d5aa5ae039ee24a9d8e",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Integrations",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/031f24efa4d543a6b876f225fd982d18",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d7cc3309-1b51-4f5f-8f03-abc873c9bdc0",
      "key": "90d11746-eacc-4d37-892d-dbbb3dba75b6",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1e62d094-910b-443d-827a-22fde86dc0c4",
                "key": "d5677e39-9a94-4147-aa32-f125d5130c2c",
                "values": [
                  {
                    "editorAlias": "Umbraco.MultiUrlPicker",
                    "culture": null,
                    "segment": null,
                    "alias": "titleLink",
                    "value": [
                      {
                        "name": "Blog",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/68beea09984949ddac5d7e5c9b5c9e84",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "d5677e39-9a94-4147-aa32-f125d5130c2c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.SingleBlock": [
                {
                  "contentUdi": null,
                  "settingsUdi": null,
                  "contentKey": "d5677e39-9a94-4147-aa32-f125d5130c2c",
                  "settingsKey": null
                }
              ]
            }
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4677acd5-af19-43e7-ae30-66bdd9880fec",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cbcfc48b-46e9-45e6-b24c-b650d40f986d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e63410b0-7021-4dde-82ff-74cb6a2bb79c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "47cbc958-3a8b-4596-9280-733fd554073a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "90d11746-eacc-4d37-892d-dbbb3dba75b6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4677acd5-af19-43e7-ae30-66bdd9880fec",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cbcfc48b-46e9-45e6-b24c-b650d40f986d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e63410b0-7021-4dde-82ff-74cb6a2bb79c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "47cbc958-3a8b-4596-9280-733fd554073a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "90d11746-eacc-4d37-892d-dbbb3dba75b6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </links>
    <logo>
      <Value><![CDATA[[
  {
    "key": "22920bbc-fc41-45c0-b607-d03aae0a760c",
    "mediaKey": "579fc51e-78ac-46cd-8c1a-a0b00e2aca0b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
    <siteName>
      <Value><![CDATA[3Chillies]]></Value>
    </siteName>
  </Properties>
</Content>