<?xml version="1.0" encoding="utf-8"?>
<Content Key="198129fa-bd18-40ac-b0f2-a437f5de445e" Alias="Header Settings" Level="2">
  <Info>
    <Parent Key="d2f7c1a9-dfcf-470c-8571-614eb8f03971">Settings</Parent>
    <Path>/Settings/HeaderSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2026-02-26T21:39:18</CreateDate>
    <NodeName Default="Header Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d7cc3309-1b51-4f5f-8f03-abc873c9bdc0",
      "key": "6cb56874-23bc-4833-aa74-fc8388678d73",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1e62d094-910b-443d-827a-22fde86dc0c4",
                "key": "ca92777d-9735-4e07-817f-2d00cef451e8",
                "values": [
                  {
                    "editorAlias": "Umbraco.MultiUrlPicker",
                    "culture": null,
                    "segment": null,
                    "alias": "titleLink",
                    "value": [
                      {
                        "name": "Services",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/dd4f33d6e15b4c1688ef64e083259d3e",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ca92777d-9735-4e07-817f-2d00cef451e8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.SingleBlock": [
                {
                  "contentUdi": null,
                  "settingsUdi": null,
                  "contentKey": "ca92777d-9735-4e07-817f-2d00cef451e8",
                  "settingsKey": null
                }
              ]
            }
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Website Builds",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/876ceadc53764ab484387d4bf77623bb",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d7cc3309-1b51-4f5f-8f03-abc873c9bdc0",
      "key": "cc90186c-7450-4406-af35-ba8ac4cdca2b",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3addb553-2c0b-4604-a289-0fbc4b06fa94",
                "key": "2ad22c70-e981-424f-a8b0-c47b53e2c66f",
                "values": [
                  {
                    "editorAlias": "Umbraco.TextBox",
                    "culture": null,
                    "segment": null,
                    "alias": "title",
                    "value": "Test"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "2ad22c70-e981-424f-a8b0-c47b53e2c66f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.SingleBlock": [
                {
                  "contentUdi": null,
                  "settingsUdi": null,
                  "contentKey": "2ad22c70-e981-424f-a8b0-c47b53e2c66f",
                  "settingsKey": null
                }
              ]
            }
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Test Content Page",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/0c113378e6ed4f98a6514824bce05e8d",
              "url": null,
              "queryString": null
            },
            {
              "name": "Blog",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/68beea09984949ddac5d7e5c9b5c9e84",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d7cc3309-1b51-4f5f-8f03-abc873c9bdc0",
      "key": "8a4b0d07-8ead-4131-abc4-1b91e240549e",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1e62d094-910b-443d-827a-22fde86dc0c4",
                "key": "b5d1507b-89f5-4d80-906a-b39c11b729d0",
                "values": [
                  {
                    "editorAlias": "Umbraco.MultiUrlPicker",
                    "culture": null,
                    "segment": null,
                    "alias": "titleLink",
                    "value": [
                      {
                        "name": "Blog",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/68beea09984949ddac5d7e5c9b5c9e84",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "b5d1507b-89f5-4d80-906a-b39c11b729d0",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.SingleBlock": [
                {
                  "contentUdi": null,
                  "settingsUdi": null,
                  "contentKey": "b5d1507b-89f5-4d80-906a-b39c11b729d0",
                  "settingsKey": null
                }
              ]
            }
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Test Content Page",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/0c113378e6ed4f98a6514824bce05e8d",
              "url": null,
              "queryString": null
            },
            {
              "name": "Blog",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/68beea09984949ddac5d7e5c9b5c9e84",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6cb56874-23bc-4833-aa74-fc8388678d73",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cc90186c-7450-4406-af35-ba8ac4cdca2b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8a4b0d07-8ead-4131-abc4-1b91e240549e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6cb56874-23bc-4833-aa74-fc8388678d73",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cc90186c-7450-4406-af35-ba8ac4cdca2b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8a4b0d07-8ead-4131-abc4-1b91e240549e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </links>
    <logo>
      <Value><![CDATA[[
  {
    "key": "22920bbc-fc41-45c0-b607-d03aae0a760c",
    "mediaKey": "579fc51e-78ac-46cd-8c1a-a0b00e2aca0b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
    <siteName>
      <Value><![CDATA[3Chillies]]></Value>
    </siteName>
  </Properties>
</Content>