<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc28fbc1-a2b3-4f8b-883a-06e03af4eb5e" Alias="Social Media Settings" Level="2">
  <Info>
    <Parent Key="d2f7c1a9-dfcf-470c-8571-614eb8f03971">Settings</Parent>
    <Path>/Settings/SocialMediaSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>socialMediaSettings</ContentType>
    <CreateDate>2026-04-27T11:26:59</CreateDate>
    <NodeName Default="Social Media Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blueskyUrl>
      <Value><![CDATA[]]></Value>
    </blueskyUrl>
    <enableEmailShare>
      <Value><![CDATA[1]]></Value>
    </enableEmailShare>
    <enableFacebookShare>
      <Value><![CDATA[0]]></Value>
    </enableFacebookShare>
    <enableLinkedInShare>
      <Value><![CDATA[1]]></Value>
    </enableLinkedInShare>
    <enablePrintShare>
      <Value><![CDATA[1]]></Value>
    </enablePrintShare>
    <enableWhatsAppShare>
      <Value><![CDATA[1]]></Value>
    </enableWhatsAppShare>
    <enableXShare>
      <Value><![CDATA[0]]></Value>
    </enableXShare>
    <facebookUrl>
      <Value><![CDATA[]]></Value>
    </facebookUrl>
    <gitHubUrl>
      <Value><![CDATA[]]></Value>
    </gitHubUrl>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/3chillies]]></Value>
    </linkedInUrl>
    <pinterestUrl>
      <Value><![CDATA[]]></Value>
    </pinterestUrl>
    <tikTokUrl>
      <Value><![CDATA[]]></Value>
    </tikTokUrl>
    <xUrl>
      <Value><![CDATA[]]></Value>
    </xUrl>
    <youTubeUrl>
      <Value><![CDATA[]]></Value>
    </youTubeUrl>
  </Properties>
</Content>