<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ee798fd-615e-40a0-a5c2-6e2c6c8f96ee" Alias="April" Level="4">
  <Info>
    <Parent Key="c58cc453-f063-4942-8521-434475abfda2">2026</Parent>
    <Path>/Homepage/Blog//April</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:34:52</CreateDate>
    <NodeName Default="April" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>