<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd3842ae-74bd-4751-9a13-83cc28ef9482" Alias="February" Level="4">
  <Info>
    <Parent Key="c58cc453-f063-4942-8521-434475abfda2">2026</Parent>
    <Path>/Homepage/Blog//February</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:15</CreateDate>
    <NodeName Default="February" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>