<?xml version="1.0" encoding="utf-8"?>
<Content Key="e40062a5-a866-4e70-807e-0a68f7f3b8b7" Alias="March" Level="4">
  <Info>
    <Parent Key="c58cc453-f063-4942-8521-434475abfda2">2026</Parent>
    <Path>/Homepage/Blog//March</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:15</CreateDate>
    <NodeName Default="March" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>