<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a52786d-9ecf-46e7-ba0d-04c315e964ad" Alias="andrew-_IBhDwV6PgI-unsplash.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/andrew_IBhDwV6PgIUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T22:41:57</CreateDate>
    <NodeName Default="andrew-_IBhDwV6PgI-unsplash.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2kzbipfg/john-flpc9_vocj4-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>