<?xml version="1.0" encoding="utf-8"?>
<Media Key="53a664f0-5a51-4060-b6c0-4980e7c11304" Alias="compagnons-Im_cQ6hQo10-unsplash.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/compagnonsIm_cQ6hQo10Unsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T22:41:58</CreateDate>
    <NodeName Default="compagnons-Im_cQ6hQo10-unsplash.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/p4xobzjy/compagnons-im_cq6hqo10-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>