<?xml version="1.0" encoding="utf-8"?>
<Media Key="a03e219c-5ac8-4cf4-bc43-899d52fa9aca" Alias="igor-omilaev-eGGFZ5X2LnA-unsplash.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/igorOmilaevEGGFZ5X2LnAUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T22:41:58</CreateDate>
    <NodeName Default="igor-omilaev-eGGFZ5X2LnA-unsplash.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cpvhqfvb/igor-omilaev-eggfz5x2lna-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>