<?xml version="1.0" encoding="utf-8"?>
<Media Key="01d82788-d72b-42a3-bb71-1c79cb266f40" Alias="joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/josephGonzalezIFgRcqHznqgUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-24T11:19:18</CreateDate>
    <NodeName Default="joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a5wj3n0c/joseph-gonzalez-ifgrcqhznqg-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>