<?xml version="1.0" encoding="utf-8"?>
<Media Key="79ddc7d2-d9c7-453d-86f8-7ca897469c95" Alias="jurica-koletic-7YVZYZeITc8-unsplash.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/juricaKoletic7YVZYZeITc8Unsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-24T11:19:19</CreateDate>
    <NodeName Default="jurica-koletic-7YVZYZeITc8-unsplash.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lugjxt3o/jurica-koletic-7yvzyzeitc8-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>