<?xml version="1.0" encoding="utf-8"?>
<Media Key="eee42299-2063-48af-9e20-1a75bb9c6294" Alias="linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/linkedinSalesSolutionsPAtA8xe_iVMUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-24T11:14:33</CreateDate>
    <NodeName Default="linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c1ukewak/linkedin-sales-solutions-pata8xe_ivm-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>