<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa74b1a7-f122-4b1c-8b33-a08124ed2929" Alias="manuel-CANL3bzp6wU-unsplash.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/manuelCANL3bzp6wUUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T22:41:58</CreateDate>
    <NodeName Default="manuel-CANL3bzp6wU-unsplash.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fb3dehcl/thisisengineering-64yrpkiguae-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>