<?xml version="1.0" encoding="utf-8"?>
<Media Key="deeac684-5dcc-4ed0-8cef-419d350cbf7a" Alias="odgers-berndtson-screen-grab.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/odgersBerndtsonScreenGrabjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-01T10:30:27</CreateDate>
    <NodeName Default="odgers-berndtson-screen-grab.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bmgky0ff/odgers-berndtson-screen-grab.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>