<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec8c0ad6-5421-49f2-b1bc-af9642975d15" Alias="Service logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-03-06T16:26:23</CreateDate>
    <NodeName Default="Service logos" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>