<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa186699-8492-4ac9-ad07-916327fffd6a" Alias="umbraco_250314_3048.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/umbraco_250314_3048jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-30T15:33:49</CreateDate>
    <NodeName Default="umbraco_250314_3048.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c0wf2th1/umbraco_250314_3048.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>