<?xml version="1.0" encoding="utf-8"?>
<Content Key="901045e7-5d6c-43be-b93c-102a5e648fb2" Alias="About Us" Level="2">
  <Info>
    <Parent Key="7b9eee32-c36e-4d04-b0e9-d513830c713c">Homepage</Parent>
    <Path>/Homepage/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-04-30T14:02:29</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a58b29f0-29c6-47b8-b8ce-329b38fbed3c",
      "key": "20d651db-ebee-417d-81f4-ec3cfb2270b6",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2\u003EWe\u0027re technology experts who focus on people.\u003C/h2\u003E\u003Cp\u003EWe build. We code. We sort out hosting and infrastructure. We ensure everything is secure and built to last. But our approach and output are always people-first.\u003C/p\u003E\u003Cp\u003EWebsites that are great for visitors. Solutions that are easy to use and manage. Projects that are rooted in listening to our clients, resulting in strong working relationships and trusted partnerships.\u003C/p\u003E\u003Cp\u003EAlways working as one team, providing our employees with opportunities to grow and develop.\u003C/p\u003E\u003Ch2\u003EWe focus on what we do best\u003C/h2\u003E\u003Cp\u003EWe\u0027re really good at what we do. But we only focus on what we do best. That\u0027s why we\u0027re not a full-service agency. We stick to being technology experts, and work with expert partners in areas such as design, branding and content.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "20d651db-ebee-417d-81f4-ec3cfb2270b6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "20d651db-ebee-417d-81f4-ec3cfb2270b6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageContent>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
  </Properties>
</Content>