<?xml version="1.0" encoding="utf-8"?>
<Content Key="68beea09-9849-49dd-ac5d-7e5c9b5c9e84" Alias="Blog" Level="2">
  <Info>
    <Parent Key="7b9eee32-c36e-4d04-b0e9-d513830c713c">Homepage</Parent>
    <Path>/Homepage/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2026-02-24T22:44:06</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7cc669b3-fd1e-450a-9d96-bde3d231de3e",
      "key": "58b6662a-af54-4729-9f31-7dd11130e583",
      "values": [
        {
          "alias": "pageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "16"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "58b6662a-af54-4729-9f31-7dd11130e583",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "58b6662a-af54-4729-9f31-7dd11130e583",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageContent>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
  </Properties>
</Content>