<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f41ab73-dfde-44f7-a552-e3c4154bc8e2" Alias="Our Technologies" Level="2">
  <Info>
    <Parent Key="7b9eee32-c36e-4d04-b0e9-d513830c713c">Homepage</Parent>
    <Path>/Homepage/OurTechnologies</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-04-30T14:02:29</CreateDate>
    <NodeName Default="Our Technologies" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a58b29f0-29c6-47b8-b8ce-329b38fbed3c",
      "key": "24171b74-7c01-4b6c-8e89-d22c7afe6068",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2\u003ERead about the technologies we love working with.\u003C/h2\u003E\u003Cp\u003EWe\u0027re Sitecore Gold Partners, Umbraco Platinum Partners, and Microsoft Gold Partners. We work mainly with Sitecore, Umbraco, Azure, Optimizely and .NET.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "24171b74-7c01-4b6c-8e89-d22c7afe6068",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "24171b74-7c01-4b6c-8e89-d22c7afe6068",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageContent>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
  </Properties>
</Content>