<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd4f33d6-e15b-4c16-88ef-64e083259d3e" Alias="Services" Level="2">
  <Info>
    <Parent Key="7b9eee32-c36e-4d04-b0e9-d513830c713c">Homepage</Parent>
    <Path>/Homepage/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-04-24T08:28:16</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2ef4a6c2-3918-466a-b0bc-2aa7899075a2",
      "key": "996b5388-769a-434e-8d11-9bec6685521f",
      "values": [
        {
          "alias": "services",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "047b1081-562c-4977-b6fc-481f62517765",
                "key": "58d3225e-cb74-436f-99e4-433318797bbd",
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Website Builds",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/876ceadc53764ab484387d4bf77623bb",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "58d3225e-cb74-436f-99e4-433318797bbd",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "58d3225e-cb74-436f-99e4-433318797bbd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "996b5388-769a-434e-8d11-9bec6685521f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "996b5388-769a-434e-8d11-9bec6685521f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageContent>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
  </Properties>
</Content>