<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d6e6899-23ac-471f-9e3f-dcfff62877f2" Alias="blogFolder" Level="1">
  <Info>
    <Name>Blog Folder</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6416b59b-ed3c-42c0-af8b-12f888fac97b" SortOrder="0">blogArticle</ContentType>
    <ContentType Key="5d6e6899-23ac-471f-9e3f-dcfff62877f2" SortOrder="1">blogFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>