<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9c7adac-5202-40da-867d-d016f816ca13" Alias="Meet the team" Level="3">
  <Info>
    <Parent Key="901045e7-5d6c-43be-b93c-102a5e648fb2">About Us</Parent>
    <Path>/Homepage/AboutUs/MeetTheTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-07-21T14:54:38</CreateDate>
    <NodeName Default="Meet the team" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e122e38e-c10c-4584-8643-f2924bc45035",
      "key": "7768314f-f145-40f4-8c77-670960d0b45f",
      "values": [
        {
          "alias": "people",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "09004815-31db-4159-b717-4855e7716711",
                "key": "bfbf71be-f4f8-48f6-8747-9250a92ca262",
                "values": [
                  {
                    "alias": "profileImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2c79b423-d716-4677-b6be-00d7471e448d",
                        "mediaKey": "eee42299-2063-48af-9e20-1a75bb9c6294",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "personName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Demo Man"
                  },
                  {
                    "alias": "jobTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Developer"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003Easdasd as ASDA\u003C/p\u003E\u003Cp\u003EDA\u003C/p\u003E\u003Cp\u003EDS\u003C/p\u003E\u003Cp\u003EASD\u003Cbr\u003EA\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "09004815-31db-4159-b717-4855e7716711",
                "key": "a6b36415-85c3-4c1b-abb5-a39c4421c1c9",
                "values": [
                  {
                    "alias": "profileImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8b2c400b-e449-4294-84c9-fb7ac92f0af2",
                        "mediaKey": "01d82788-d72b-42a3-bb71-1c79cb266f40",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "personName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Demo Man"
                  },
                  {
                    "alias": "jobTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Developer"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003Easdasd as ASDA\u003C/p\u003E\u003Cp\u003EDA\u003C/p\u003E\u003Cp\u003EDS\u003C/p\u003E\u003Cp\u003EASD\u003Cbr\u003EA\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "09004815-31db-4159-b717-4855e7716711",
                "key": "3dd73894-f5ab-4983-a468-702b9ee89488",
                "values": [
                  {
                    "alias": "profileImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4c92231e-dfc9-418e-a65f-a357a166b0ed",
                        "mediaKey": "79ddc7d2-d9c7-453d-86f8-7ca897469c95",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "personName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Demo Man"
                  },
                  {
                    "alias": "jobTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Developer"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003Easdasd as ASDA\u003C/p\u003E\u003Cp\u003EDA\u003C/p\u003E\u003Cp\u003EDS\u003C/p\u003E\u003Cp\u003EASD\u003Cbr\u003EA\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "bfbf71be-f4f8-48f6-8747-9250a92ca262",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a6b36415-85c3-4c1b-abb5-a39c4421c1c9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3dd73894-f5ab-4983-a468-702b9ee89488",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "bfbf71be-f4f8-48f6-8747-9250a92ca262",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a6b36415-85c3-4c1b-abb5-a39c4421c1c9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3dd73894-f5ab-4983-a468-702b9ee89488",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Development Team"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Meet our team of developers, who combine their first class knowledge of their field, with AI efficiency."
        }
      ]
    },
    {
      "contentTypeKey": "e122e38e-c10c-4584-8643-f2924bc45035",
      "key": "6f4ff659-9802-4373-b445-9b179766d4f1",
      "values": [
        {
          "alias": "people",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "09004815-31db-4159-b717-4855e7716711",
                "key": "4543a853-167a-423a-aa3c-17cf7e4819a6",
                "values": [
                  {
                    "alias": "profileImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2c79b423-d716-4677-b6be-00d7471e448d",
                        "mediaKey": "eee42299-2063-48af-9e20-1a75bb9c6294",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "personName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Demo Man"
                  },
                  {
                    "alias": "jobTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Project Manager"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003Easdasd as ASDA\u003C/p\u003E\u003Cp\u003EDA\u003C/p\u003E\u003Cp\u003EDS\u003C/p\u003E\u003Cp\u003EASD\u003Cbr\u003EA\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "09004815-31db-4159-b717-4855e7716711",
                "key": "ea6e0d12-a9bc-47e4-98cb-c55c20bb764d",
                "values": [
                  {
                    "alias": "profileImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8b2c400b-e449-4294-84c9-fb7ac92f0af2",
                        "mediaKey": "01d82788-d72b-42a3-bb71-1c79cb266f40",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "personName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Demo Man"
                  },
                  {
                    "alias": "jobTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Project Manager"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003Easdasd as ASDA\u003C/p\u003E\u003Cp\u003EDA\u003C/p\u003E\u003Cp\u003EDS\u003C/p\u003E\u003Cp\u003EASD\u003Cbr\u003EA\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "09004815-31db-4159-b717-4855e7716711",
                "key": "2f3c4cfa-4ed5-4363-8449-cfdec17f7b3e",
                "values": [
                  {
                    "alias": "profileImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4c92231e-dfc9-418e-a65f-a357a166b0ed",
                        "mediaKey": "79ddc7d2-d9c7-453d-86f8-7ca897469c95",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "personName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Demo Man"
                  },
                  {
                    "alias": "jobTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Project Manager"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003Easdasd as ASDA\u003C/p\u003E\u003Cp\u003EDA\u003C/p\u003E\u003Cp\u003EDS\u003C/p\u003E\u003Cp\u003EASD\u003Cbr\u003EA\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4543a853-167a-423a-aa3c-17cf7e4819a6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ea6e0d12-a9bc-47e4-98cb-c55c20bb764d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2f3c4cfa-4ed5-4363-8449-cfdec17f7b3e",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4543a853-167a-423a-aa3c-17cf7e4819a6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ea6e0d12-a9bc-47e4-98cb-c55c20bb764d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2f3c4cfa-4ed5-4363-8449-cfdec17f7b3e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Delivery Team"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Meet our delivery team, these brilliant individuals will be working directly with you to get your goals met."
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "47b7548d-92f8-4a3d-a632-0b495b62b3ff",
      "key": "31aa2675-61a3-46a7-8701-8e81870e167f",
      "values": [
        {
          "alias": "constrainToContentColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "47b7548d-92f8-4a3d-a632-0b495b62b3ff",
      "key": "3104bc4d-42e8-4701-8904-bdefa89db3a0",
      "values": [
        {
          "alias": "constrainToContentColumn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7768314f-f145-40f4-8c77-670960d0b45f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6f4ff659-9802-4373-b445-9b179766d4f1",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7768314f-f145-40f4-8c77-670960d0b45f",
        "contentUdi": null,
        "settingsKey": "31aa2675-61a3-46a7-8701-8e81870e167f",
        "settingsUdi": null
      },
      {
        "contentKey": "6f4ff659-9802-4373-b445-9b179766d4f1",
        "contentUdi": null,
        "settingsKey": "3104bc4d-42e8-4701-8904-bdefa89db3a0",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageContent>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
  </Properties>
</Content>