<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a1f30bb-5fb2-4bfc-8dad-cf4f56dfbda0" Alias="August" Level="4">
  <Info>
    <Parent Key="824b9c28-4b26-4944-85ff-dbab12e826b1">2023</Parent>
    <Path>/Homepage/Blog//August</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:26</CreateDate>
    <NodeName Default="August" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>