<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ecc58e6-7d58-42e9-8bd6-6f3eddbf1f3e" Alias="December" Level="4">
  <Info>
    <Parent Key="824b9c28-4b26-4944-85ff-dbab12e826b1">2023</Parent>
    <Path>/Homepage/Blog//December</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:24</CreateDate>
    <NodeName Default="December" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>