<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae461499-73ec-4971-9f9a-422d99fe40be" Alias="February" Level="4">
  <Info>
    <Parent Key="824b9c28-4b26-4944-85ff-dbab12e826b1">2023</Parent>
    <Path>/Homepage/Blog//February</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:28</CreateDate>
    <NodeName Default="February" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>