<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c6a99f1-97f8-4101-9f9e-cdc49eea2a4a" Alias="July" Level="4">
  <Info>
    <Parent Key="824b9c28-4b26-4944-85ff-dbab12e826b1">2023</Parent>
    <Path>/Homepage/Blog//July</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:26</CreateDate>
    <NodeName Default="July" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>