<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8e2cd81-a0fa-4eaf-8ae7-b5c96f045cae" Alias="June" Level="4">
  <Info>
    <Parent Key="824b9c28-4b26-4944-85ff-dbab12e826b1">2023</Parent>
    <Path>/Homepage/Blog//June</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:26</CreateDate>
    <NodeName Default="June" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>