<?xml version="1.0" encoding="utf-8"?>
<Content Key="85233ae2-6c86-48b9-b0e3-daa19fdad924" Alias="May" Level="4">
  <Info>
    <Parent Key="824b9c28-4b26-4944-85ff-dbab12e826b1">2023</Parent>
    <Path>/Homepage/Blog//May</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:27</CreateDate>
    <NodeName Default="May" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>