<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c573291-a68e-49c1-b6d4-4baf7b62c5da" Alias="Article 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Article1</Path>
    <Trashed Parent="68beea09-9849-49dd-ac5d-7e5c9b5c9e84">true</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2026-02-24T22:44:55</CreateDate>
    <NodeName Default="Article 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
  </Properties>
</Content>