<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b9eee32-c36e-4d04-b0e9-d513830c713c" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2026-02-24T22:09:27</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "10000000-0000-0000-0000-000000000001",
      "key": "4d300eff-3015-4880-b8be-cfc61c7eaa7b",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are 3chillies"
        },
        {
          "alias": "subheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We\u0027re technology experts who build, deliver and support high-performing websites and other digital experiences."
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a218d178-c1f2-41a2-b0bf-448e4c462821",
              "mediaKey": "a03e219c-5ac8-4cf4-bc43-899d52fa9aca",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "ctaLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "7cc669b3-fd1e-450a-9d96-bde3d231de3e",
      "key": "d3e08010-b471-4800-be97-d52bdde83d90",
      "values": [
        {
          "alias": "pageSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Latest blog posts"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "See what\u0027s happening in the digital world around us"
        }
      ]
    },
    {
      "contentTypeKey": "e9e5eac2-746d-4fb2-999e-1b08e229c836",
      "key": "58fec4b0-b79d-45e0-8977-bcc757aa23fa",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EPeople are at the heart of everything we do. \u003C/p\u003E\u003Cp\u003EWe \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:7b9eee32-c36e-4d04-b0e9-d513830c713c}\u0022 title=\u0022Homepage\u0022 type=\u0022document\u0022\u003Ebuild, support and host great websites\u003C/a\u003E and other digital experiences. Explore our services.\u003C/p\u003E\u003Cp\u003EWe\u2019re Sitecore and Microsoft Gold partners, Umbraco Platinum partners and ISO 27001 accredited. We work mainly with Sitecore, Umbraco, Azure, Optimizely and .NET. Explore our technologies.\u003C/p\u003E\u003Cp\u003EWe work with amazing clients. We\u2019re proud to be the trusted advisor and chosen technical partner for leading UK organisations.\u003C/p\u003E"
          }
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1028c76a-2485-4071-ac03-a422930e4257",
              "mediaKey": "53a664f0-5a51-4060-b6c0-4980e7c11304",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "actions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Explore our work",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/7b9eee32c36e4d04b0e9d513830c713c",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "2ef4a6c2-3918-466a-b0bc-2aa7899075a2",
      "key": "8860e28c-1ec3-497b-adf8-2ffecfcbb73f",
      "values": [
        {
          "alias": "services",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "047b1081-562c-4977-b6fc-481f62517765",
                "key": "87f6baf3-a3cd-4a51-8c99-ec9ecee2426c",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Website development"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Sitecore, Umbraco, Optimizely and bespoke .NET"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "More about website builds",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/7b9eee32c36e4d04b0e9d513830c713c",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "45b75204-d785-4534-985a-976a5fc5c2cf",
                        "mediaKey": "7bb0ecbc-ffed-4a64-a543-ef4a1b2ebe8b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "047b1081-562c-4977-b6fc-481f62517765",
                "key": "3491c191-8a35-47aa-ad68-4456f9217245",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Website health checks"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Also hosting and content management systems"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "More about health checks",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/7b9eee32c36e4d04b0e9d513830c713c",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "725a68c1-ffbe-44de-a716-80ff7c6a3ca3",
                        "mediaKey": "1dcb38c2-d27b-402b-b9b0-e55b44be76bd",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "047b1081-562c-4977-b6fc-481f62517765",
                "key": "dd242220-39c2-4231-947f-c78d88498a21",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Cloud hosting"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "We are experts in Microsoft Azure and other versatile and secure hosting platforms"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "More about managed hosting",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/7b9eee32c36e4d04b0e9d513830c713c",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1764fc5b-5e5c-48fa-9b3e-a07f7b632cdd",
                        "mediaKey": "5d66e78e-3240-44c0-b3ae-8209c50dc277",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "047b1081-562c-4977-b6fc-481f62517765",
                "key": "6207a90a-4ce1-4aa8-835b-a6ef39cfa28e",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Website technical support"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "We support websites we\u0027ve built, as well as those we didn\u0027t"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "More about support",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/7b9eee32c36e4d04b0e9d513830c713c",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0dc846d1-ff7f-43bd-a129-4ca1564bbadf",
                        "mediaKey": "50e85227-4f6c-40d8-b6fb-1ea35552b815",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "87f6baf3-a3cd-4a51-8c99-ec9ecee2426c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3491c191-8a35-47aa-ad68-4456f9217245",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "dd242220-39c2-4231-947f-c78d88498a21",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6207a90a-4ce1-4aa8-835b-a6ef39cfa28e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "87f6baf3-a3cd-4a51-8c99-ec9ecee2426c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3491c191-8a35-47aa-ad68-4456f9217245",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "dd242220-39c2-4231-947f-c78d88498a21",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6207a90a-4ce1-4aa8-835b-a6ef39cfa28e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We offer a broad range of services to help deliver the digital product that you need"
        }
      ]
    },
    {
      "contentTypeKey": "68bd7a0d-2768-4567-8ecc-57b0c0e348d6",
      "key": "32d6cb52-d0f2-498f-9be7-19202bd4c3dc",
      "values": [
        {
          "alias": "logos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5b66d262-63c4-4fa3-a79b-6e845d7eb30c",
                "key": "ea57cda0-e9de-4073-9792-51de3c856986",
                "values": [
                  {
                    "alias": "logo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6a10bce0-7888-4a9c-8e5f-7e245ccc8ee1",
                        "mediaKey": "0a8105e8-5000-403e-9ede-ad720150d3ca",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ".Net"
                  }
                ]
              },
              {
                "contentTypeKey": "5b66d262-63c4-4fa3-a79b-6e845d7eb30c",
                "key": "c08c719a-b1eb-4a9b-a4fd-85236b71f951",
                "values": [
                  {
                    "alias": "logo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "57721057-63c6-4703-9584-9a6746baa201",
                        "mediaKey": "b1063621-e6c5-41e3-b943-135837afba8a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Microsoft Azure"
                  }
                ]
              },
              {
                "contentTypeKey": "5b66d262-63c4-4fa3-a79b-6e845d7eb30c",
                "key": "241af1f9-ded8-48f5-8cd5-2e0bda510546",
                "values": [
                  {
                    "alias": "logo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8d6f33c5-b553-4324-ba99-d32219f4917f",
                        "mediaKey": "0ee483f6-faef-4867-8168-15708b6a2b9a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Sitecore"
                  }
                ]
              },
              {
                "contentTypeKey": "5b66d262-63c4-4fa3-a79b-6e845d7eb30c",
                "key": "00413fee-0f99-4ee0-8e71-11d54182af74",
                "values": [
                  {
                    "alias": "logo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e68448f8-664d-470f-b478-9ea954965bf2",
                        "mediaKey": "4dd944ee-898d-4509-bcc0-35a092534c4d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Optimizely"
                  }
                ]
              },
              {
                "contentTypeKey": "5b66d262-63c4-4fa3-a79b-6e845d7eb30c",
                "key": "6fd72f67-8ef0-4730-ab26-1cbf6e477da7",
                "values": [
                  {
                    "alias": "logo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7f671a3d-d07f-4641-9020-6a24544830c6",
                        "mediaKey": "07718aac-6aaa-4f89-9b2f-aaf982cbd1fe",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Umbraco"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ea57cda0-e9de-4073-9792-51de3c856986",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c08c719a-b1eb-4a9b-a4fd-85236b71f951",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "241af1f9-ded8-48f5-8cd5-2e0bda510546",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "00413fee-0f99-4ee0-8e71-11d54182af74",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6fd72f67-8ef0-4730-ab26-1cbf6e477da7",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "241af1f9-ded8-48f5-8cd5-2e0bda510546",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6fd72f67-8ef0-4730-ab26-1cbf6e477da7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c08c719a-b1eb-4a9b-a4fd-85236b71f951",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "00413fee-0f99-4ee0-8e71-11d54182af74",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ea57cda0-e9de-4073-9792-51de3c856986",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "f1a20001-0001-0001-0001-000000000011",
      "key": "3836e44c-c467-432b-9540-bbc41d2a5403",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Unlimited possibilities"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Get in touch today"
        },
        {
          "alias": "buttonLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Newsletter Sign Up"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Enter your email address"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "47b7548d-92f8-4a3d-a632-0b495b62b3ff",
      "key": "4f40037f-911b-4071-8494-42c8a9b41bdd",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "4d300eff-3015-4880-b8be-cfc61c7eaa7b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d3e08010-b471-4800-be97-d52bdde83d90",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "58fec4b0-b79d-45e0-8977-bcc757aa23fa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8860e28c-1ec3-497b-adf8-2ffecfcbb73f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "32d6cb52-d0f2-498f-9be7-19202bd4c3dc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3836e44c-c467-432b-9540-bbc41d2a5403",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4d300eff-3015-4880-b8be-cfc61c7eaa7b",
        "contentUdi": null,
        "settingsKey": "4f40037f-911b-4071-8494-42c8a9b41bdd",
        "settingsUdi": null
      },
      {
        "contentKey": "58fec4b0-b79d-45e0-8977-bcc757aa23fa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "32d6cb52-d0f2-498f-9be7-19202bd4c3dc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8860e28c-1ec3-497b-adf8-2ffecfcbb73f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d3e08010-b471-4800-be97-d52bdde83d90",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3836e44c-c467-432b-9540-bbc41d2a5403",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageContent>
  </Properties>
</Content>