<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1a20001-0001-0001-0001-000000000004" Alias="Block List - Accordion Items" Level="2">
  <Info>
    <Name>Block List - Accordion Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BlockLists</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f1a20001-0001-0001-0001-000000000009"
    }
  ]
}]]></Config>
</DataType>