<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96a0b9fc-c02e-485c-8d9d-87feb9300dae" Alias="Block List - Meet The Team People" Level="2">
  <Info>
    <Name>Block List - Meet The Team People</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BlockLists</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "09004815-31db-4159-b717-4855e7716711"
    }
  ]
}]]></Config>
</DataType>