<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aabdc545-a972-45e9-a61a-8d2d207cfee6" Alias="[BlockList] Navigation Links" Level="2">
  <Info>
    <Name>[BlockList] Navigation Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BlockLists</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d7cc3309-1b51-4f5f-8f03-abc873c9bdc0"
    }
  ]
}]]></Config>
</DataType>