<?xml version="1.0" encoding="utf-8"?>
<DataType Key="73fea6c5-8940-4d7c-be0f-b3928791d2b2" Alias="[BlockList] Services" Level="2">
  <Info>
    <Name>[BlockList] Services</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BlockLists</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "047b1081-562c-4977-b6fc-481f62517765"
    }
  ],
  "validationLimit": {
    "max": 8
  }
}]]></Config>
</DataType>