<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f2081c6-e130-4d70-83c5-466cd0a0411c" Alias="[BlockList] Logo Cloud" Level="2">
  <Info>
    <Name>[BlockList] Logo Cloud</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BlockLists</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5b66d262-63c4-4fa3-a79b-6e845d7eb30c",
      "label": "{umbValue: logoName}"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>