<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eac75797-8efb-46e3-8841-e56976f55ba0" Alias="Default Content BlockList" Level="2">
  <Info>
    <Name>Default Content BlockList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BlockLists</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "10000000-0000-0000-0000-000000000001",
      "settingsElementTypeKey": "47b7548d-92f8-4a3d-a632-0b495b62b3ff"
    },
    {
      "contentElementTypeKey": "e9e5eac2-746d-4fb2-999e-1b08e229c836"
    },
    {
      "contentElementTypeKey": "75b4f620-80de-441f-82ed-bd0649733dd1",
      "settingsElementTypeKey": "47b7548d-92f8-4a3d-a632-0b495b62b3ff"
    },
    {
      "contentElementTypeKey": "c1032cf0-928d-4e94-8ab3-263a45a30e84",
      "settingsElementTypeKey": "47b7548d-92f8-4a3d-a632-0b495b62b3ff"
    },
    {
      "contentElementTypeKey": "a58b29f0-29c6-47b8-b8ce-329b38fbed3c",
      "settingsElementTypeKey": "47b7548d-92f8-4a3d-a632-0b495b62b3ff"
    },
    {
      "contentElementTypeKey": "e44f8b96-5f50-482f-87d2-7634f3747bf4",
      "settingsElementTypeKey": "47b7548d-92f8-4a3d-a632-0b495b62b3ff"
    },
    {
      "contentElementTypeKey": "7cc669b3-fd1e-450a-9d96-bde3d231de3e"
    },
    {
      "contentElementTypeKey": "2ef4a6c2-3918-466a-b0bc-2aa7899075a2"
    },
    {
      "contentElementTypeKey": "68bd7a0d-2768-4567-8ecc-57b0c0e348d6"
    },
    {
      "contentElementTypeKey": "f1a20001-0001-0001-0001-000000000001"
    },
    {
      "contentElementTypeKey": "f1a20001-0001-0001-0001-000000000003"
    },
    {
      "contentElementTypeKey": "f1a20001-0001-0001-0001-000000000005"
    },
    {
      "contentElementTypeKey": "f1a20001-0001-0001-0001-000000000007"
    },
    {
      "contentElementTypeKey": "f1a20001-0001-0001-0001-000000000008"
    },
    {
      "contentElementTypeKey": "f1a20001-0001-0001-0001-000000000010"
    },
    {
      "contentElementTypeKey": "f1a20001-0001-0001-0001-000000000011"
    }
  ]
}]]></Config>
</DataType>