<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9794f98-1575-45d9-943c-8bec9de1be1b" Alias="[SingleBlock] Navigation title" Level="2">
  <Info>
    <Name>[SingleBlock] Navigation title</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
    <Folder>BlockLists</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3addb553-2c0b-4604-a289-0fbc4b06fa94"
    },
    {
      "contentElementTypeKey": "1e62d094-910b-443d-827a-22fde86dc0c4"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>