<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6416b59b-ed3c-42c0-af8b-12f888fac97b" Alias="blogArticle" Level="3">
  <Info>
    <Name>Blog Article</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Blog</Folder>
    <Compositions>
      <Composition Key="da8f8aae-e717-4205-aa2d-21b0d359d3d1">compositionPageHeader</Composition>
      <Composition Key="bf156949-c8fa-45f0-9f0f-6473a0b04ba1">compositionPageMetadata</Composition>
      <Composition Key="b8e494ef-0246-4406-9498-2f058f0fc0e5">compositionStandardContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a1b2c3d4-0003-4000-8000-000000000003</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The displayed publish date for this article. Set this when first publishing to avoid it changing on future edits.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blogDetails/publishing">Publishing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f67ff88a-7ec8-40b4-bd34-4580b3d931dc</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>9aca248e-e5fc-490b-8d89-45abed2f7c37</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blogDetails/tags">Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>911ee6a2-9fe5-40f8-8a33-20050d6460c0</Key>
      <Caption>Tags</Caption>
      <Alias>blogDetails/tags</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a1b2c3d4-0001-4000-8000-000000000001</Key>
      <Caption>Blog Details</Caption>
      <Alias>blogDetails</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
    <Tab>
      <Key>a1b2c3d4-0002-4000-8000-000000000002</Key>
      <Caption>Publishing</Caption>
      <Alias>blogDetails/publishing</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>