<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a7128c16-fca3-49cb-95e4-3b09c484167f" Alias="blog" Level="3">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Blog</Folder>
    <Compositions>
      <Composition Key="da8f8aae-e717-4205-aa2d-21b0d359d3d1">compositionPageHeader</Composition>
      <Composition Key="bf156949-c8fa-45f0-9f0f-6473a0b04ba1">compositionPageMetadata</Composition>
      <Composition Key="b8e494ef-0246-4406-9498-2f058f0fc0e5">compositionStandardContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6416b59b-ed3c-42c0-af8b-12f888fac97b" SortOrder="0">blogArticle</ContentType>
    <ContentType Key="5d6e6899-23ac-471f-9e3f-dcfff62877f2" SortOrder="1">blogFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>