<?xml version="1.0" encoding="utf-8"?>
<Content Key="27dce3ce-e794-4773-9f34-cb25499edc41" Alias="April" Level="4">
  <Info>
    <Parent Key="a7676f62-a00b-4d3d-b420-003cd5985a07">2025</Parent>
    <Path>/Homepage/Blog//April</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:19</CreateDate>
    <NodeName Default="April" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>