<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1e3d5c3-8612-4a6d-9901-e874586ee02e" Alias="December" Level="4">
  <Info>
    <Parent Key="a7676f62-a00b-4d3d-b420-003cd5985a07">2025</Parent>
    <Path>/Homepage/Blog//December</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:16</CreateDate>
    <NodeName Default="December" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>