<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ad4507a-b770-4487-8f59-16511d016861" Alias="February" Level="4">
  <Info>
    <Parent Key="a7676f62-a00b-4d3d-b420-003cd5985a07">2025</Parent>
    <Path>/Homepage/Blog//February</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:20</CreateDate>
    <NodeName Default="February" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>