<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3c94ead-324f-4ea6-a402-87bd6af67000" Alias="January" Level="4">
  <Info>
    <Parent Key="a7676f62-a00b-4d3d-b420-003cd5985a07">2025</Parent>
    <Path>/Homepage/Blog//January</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:20</CreateDate>
    <NodeName Default="January" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>