<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3984a07-8f37-49e8-ac81-456f1f24dd0b" Alias="June" Level="4">
  <Info>
    <Parent Key="a7676f62-a00b-4d3d-b420-003cd5985a07">2025</Parent>
    <Path>/Homepage/Blog//June</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:18</CreateDate>
    <NodeName Default="June" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>