<?xml version="1.0" encoding="utf-8"?>
<Content Key="d57513a8-8b5f-4510-962d-1cef28a6ef64" Alias="November" Level="4">
  <Info>
    <Parent Key="a7676f62-a00b-4d3d-b420-003cd5985a07">2025</Parent>
    <Path>/Homepage/Blog//November</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:16</CreateDate>
    <NodeName Default="November" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>