<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8cc065d-b1f4-4e55-aec9-1e2659ecec1a" Alias="October" Level="4">
  <Info>
    <Parent Key="a7676f62-a00b-4d3d-b420-003cd5985a07">2025</Parent>
    <Path>/Homepage/Blog//October</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:17</CreateDate>
    <NodeName Default="October" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>