<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf927331-8783-40f5-ab9d-f88c21ce2b9c" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="bf156949-c8fa-45f0-9f0f-6473a0b04ba1">compositionPageMetadata</Composition>
      <Composition Key="b8e494ef-0246-4406-9498-2f058f0fc0e5">compositionStandardContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="bdb93787-001b-432a-acfa-7d0bafb99df4" SortOrder="0">contentPage</ContentType>
    <ContentType Key="a7128c16-fca3-49cb-95e4-3b09c484167f" SortOrder="1">blog</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>