<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d421f5a-e574-4f3f-94ce-008d1d7f5e47" Alias="blogTags" Level="2">
  <Info>
    <Name>Blog Tags</Name>
    <Icon>icon-tags</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Container for all blog tags. Lives under Settings.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="28b5520b-dc3f-47b6-b824-e2d1ac4b5628" SortOrder="0">tag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>