<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="97ede5dc-a8ab-4789-9d5b-1a15345b5fe0" Alias="settings" Level="2">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c82333ff-0373-4b4c-90bd-4b183f6e5ba6" SortOrder="0">header</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>