<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f8eab23-244a-4ffc-ae66-80416996142c" Alias="2022" Level="3">
  <Info>
    <Parent Key="68beea09-9849-49dd-ac5d-7e5c9b5c9e84">Blog</Parent>
    <Path>/Homepage/Blog/</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:28</CreateDate>
    <NodeName Default="2022" />
    <SortOrder>94</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>