<?xml version="1.0" encoding="utf-8"?>
<Content Key="824b9c28-4b26-4944-85ff-dbab12e826b1" Alias="2023" Level="3">
  <Info>
    <Parent Key="68beea09-9849-49dd-ac5d-7e5c9b5c9e84">Blog</Parent>
    <Path>/Homepage/Blog/</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:24</CreateDate>
    <NodeName Default="2023" />
    <SortOrder>93</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>