<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7676f62-a00b-4d3d-b420-003cd5985a07" Alias="2025" Level="3">
  <Info>
    <Parent Key="68beea09-9849-49dd-ac5d-7e5c9b5c9e84">Blog</Parent>
    <Path>/Homepage/Blog/</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:16</CreateDate>
    <NodeName Default="2025" />
    <SortOrder>91</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>