<?xml version="1.0" encoding="utf-8"?>
<Content Key="c58cc453-f063-4942-8521-434475abfda2" Alias="2026" Level="3">
  <Info>
    <Parent Key="68beea09-9849-49dd-ac5d-7e5c9b5c9e84">Blog</Parent>
    <Path>/Homepage/Blog/</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:34:48</CreateDate>
    <NodeName Default="2026" />
    <SortOrder>90</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>