<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff3df836-420f-49fb-b261-7ce6bbea89b8" Alias="December" Level="4">
  <Info>
    <Parent Key="d6815028-ec53-4bfa-ac7a-4f7f003902ef">2024</Parent>
    <Path>/Homepage/Blog//December</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:20</CreateDate>
    <NodeName Default="December" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>