<?xml version="1.0" encoding="utf-8"?>
<Content Key="223e39ed-b0e3-4a7d-b809-1c4b2d434cb9" Alias="January" Level="4">
  <Info>
    <Parent Key="d6815028-ec53-4bfa-ac7a-4f7f003902ef">2024</Parent>
    <Path>/Homepage/Blog//January</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:24</CreateDate>
    <NodeName Default="January" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>