<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d26d44d-0288-482c-b355-5293b6cb87f2" Alias="June" Level="4">
  <Info>
    <Parent Key="d6815028-ec53-4bfa-ac7a-4f7f003902ef">2024</Parent>
    <Path>/Homepage/Blog//June</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:23</CreateDate>
    <NodeName Default="June" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>