<?xml version="1.0" encoding="utf-8"?>
<Content Key="6df72f6e-6323-47b2-bc37-5077e3573ccc" Alias="November" Level="4">
  <Info>
    <Parent Key="d6815028-ec53-4bfa-ac7a-4f7f003902ef">2024</Parent>
    <Path>/Homepage/Blog//November</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:21</CreateDate>
    <NodeName Default="November" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>