<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1969531-747d-4c3c-bf2d-cf37dd9dad44" Alias="October" Level="4">
  <Info>
    <Parent Key="d6815028-ec53-4bfa-ac7a-4f7f003902ef">2024</Parent>
    <Path>/Homepage/Blog//October</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:21</CreateDate>
    <NodeName Default="October" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>