<?xml version="1.0" encoding="utf-8"?>
<Content Key="3da82faa-a1a0-4ba9-9771-52a2ba27eff3" Alias="Optimizely" Level="3">
  <Info>
    <Parent Key="8f41ab73-dfde-44f7-a552-e3c4154bc8e2">Our Technologies</Parent>
    <Path>/Homepage/OurTechnologies/Optimizely</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-04-30T14:05:52</CreateDate>
    <NodeName Default="Optimizely" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a58b29f0-29c6-47b8-b8ce-329b38fbed3c",
      "key": "79747f82-47b6-40dd-b2cc-8a06b749bdb1",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2\u003EOptimizely is one of the world\u0027s most successful content management systems.\u003C/h2\u003E\u003Cp\u003EOptimizely is recognised by Gartner as a leader in the digital experience platform space. Formerly called Episerver, Optimizely has continued to go from strength to strength.\u003C/p\u003E\u003Cp\u003EWe\u0027ve worked with Optimizely for several years now to deliver great websites and digital experiences.\u003C/p\u003E\u003Ch2\u003EWhy we love working with Optimizely\u003C/h2\u003E\u003Cp\u003EOptimizely is aptly named. It has stand-out tools that support the optimisation of high-performing websites, with particular strengths around areas such as A/B testing.\u003C/p\u003E\u003Cp\u003EThe Optimizely One platform brings a modular approach with relatively transparent pricing, offering the chance to use the core platform as a whole, or as part of a looser, best-of-breed composable system.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "79747f82-47b6-40dd-b2cc-8a06b749bdb1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "79747f82-47b6-40dd-b2cc-8a06b749bdb1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageContent>
    <pageHeader>
      <Value><![CDATA[]]></Value>
    </pageHeader>
  </Properties>
</Content>