<?xml version="1.0" encoding="utf-8"?>
<Content Key="1444195b-3923-4335-ab86-6e31ca10f0b2" Alias="July" Level="4">
  <Info>
    <Parent Key="5f8eab23-244a-4ffc-ae66-80416996142c">2022</Parent>
    <Path>/Homepage/Blog//July</Path>
    <Trashed>false</Trashed>
    <ContentType>blogFolder</ContentType>
    <CreateDate>2026-04-27T14:35:30</CreateDate>
    <NodeName Default="July" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>